*.o
*.s
*~
\#*
*.pyc
*.txt
*.log
*.so
*.lo
*.la
*.a
*.id[0-9]*
*.nam
*til
*.dot
*.ps
*.bc
*.pickle
data/pbzip-2094/test.tar.bz2
*.ll
testing-server.*
custom.conf
callgrind.out
core
out
*.bak
output_0x*
gft_output_0x*
processor_tracer.*
*.iml
plugins/*
!plugins/base
!plugins/README.rst
doc/build
testdb*
.*
!.gitignore
htmlcov
*.xml
